@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::selection {
  color: black;
  background: white;
}

nav {
  position: fixed;
  background: rgb(21, 21, 21);
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}

nav .menu {
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.menu .logo a {
  text-decoration: none;
  color: white;
  font-size: 35px;
  font-weight: 600;
}

.menu ul {
  display: inline-flex;
}

.menu ul li {
  list-style: none;
  margin-left: 7px;
}

.menu ul li:first-child {
  margin-left: 0px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 100px;
  transition: all 0.3s ease;
}

.menu ul li a:hover {
  background: white;
  color: black;
}

.background {
  background: url(https://i.pinimg.com/736x/61/3f/cf/613fcfb6207d14f74cc2c6d712176342.jpg) no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: fixed;
  background-attachment: fixed;
}

.background::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.posisi {
  position: absolute;
  top: 52%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: left;
}

.posisi h1 {
  color: white;
  font-size: 50px;
  font-weight: 600;
}

.posisi h2 {
  color: white;
  font-size: 50px;
  font-weight: 600;
}

.posisi p {
  color: white;
}

.posisi .tombol {
  margin-top: 40px;
}

.posisi .tombol button {
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.posisi .tombol button:first-child {
  color: white;
  background: none;
}

.tombol button:first-child:hover {
  background: white;
  color: black;
}

.posisi .tombol button:last-child {
  background: white;
  color: black;
}

.about h1 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 600;
  position: center;
}

.about h2 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 600;
  position: center;
}

.about p {
 color: rgb(255, 255, 255);
}

.about {
  position: absolute;
  top: 40%;
  bottom: 40%;
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.aboutus {
  background: url(https://i.pinimg.com/736x/7a/18/ff/7a18ffa90686b8509b3383cfefcd6035.jpg) no-repeat;
  color: white;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}


.ourteam2 h1 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 600;
  position: center;
}

.ourteam2 h2 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 600;
  position: center;
}

.ourteam2 p {
 color: rgb(255, 255, 255);
}

.ourteam2 {
  position: absolute;
  top: 15%;
  bottom: 40%;
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.ourteam {
  background: black;
  color: white;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position:center:
  position: relative;
  background-attachment:scroll;
}

.ourteam table {
  margin: 0 auto; /* untuk tengah horizontal */
  text-align: center; /* isi teks tabel rata tengah */
  border-collapse: collapse;
}
